.checkbox-item__box{
	box-sizing: border-box;

	width: 35px;
	height: 35px;

	background: #FFFFFF;
	border: 2px solid #1D428A;

	margin: auto;
}

.checkbox-item__label{

	width: 394px;

	/* action text */
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 62px;

	/* identical to box height, or 194% */

	color: #1D428A;

	text-align: left;

	padding-left: 50px;
	margin: auto;
}

.checkbox-item__container{
	display: flex;
	margin: auto;
}